body {
    font-family: 'Open Sans', sans-serif;
    color: #888;
    line-height: 1.5;
}

a {
    transition: color .3s linear,
    border .2s linear;
    color: #49bf9d;
    text-decoration: none;
    border-bottom: 2px dotted;
}

a:hover {
    border-bottom-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal;
    margin: 0 0 1em;
}

blockquote {
    margin: 2em 0;
    padding: 2em;
    border-left: 5px solid rgb(177, 177, 177);
}

code {
    background-color: #f7f7f7;
    border: 2px solid #efefef;
    padding: 10px 20px;    
}

pre code {
    display: block;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}

input, label, textarea {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
}

input, textarea

.main-header {
    background-image: url("../images/overlay.png"), url("../images/bg.jpg");
    background-position: center top;
    background-size: auto, cover;
    width: 35%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 70px 50px;
    box-sizing: border-box;
    text-align: right;        
}

.main-header-logo {
    border: none; 
}

.main-header-logo img {
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}

.main-header-title {
    color: rgba(255, 255, 255, .5);
    font-size: 36px;    
}

.main-header-title strong {
    color: white;
}

.main-header-title p {
    font-size: 16px;
}

.main-header-link {
    color: inherit;
    font-size: 20px;
}

.main-header-link:hover {
    color: teal;    
}

.main-header-footer {
    position: absolute;
    bottom: 0;
    right: 50px;
}

.main-header-footer i {
    margin-left: 10px;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    padding: 70px 50px;
    box-sizing: border-box;
}

.main-content i {
    font-size: 2em;
    color: teal;
}

.ul-alternate {
    list-style-type: none;    
}

.ul-alternate li {
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

.ul-alternate li:last-child {
    border: none;
}

.row {
    overflow: auto;
}


/* GRID */
.col1 {
    float: left;
}

.col2 {
    width: 49%;
    float: right;
}

.col2:first-child {
    margin-right: 1%;
}

.col2:last-child {
    margin-left: 1%;
}

.col2-3 {
    background-color: yellow;
    width: 65%;
    float: left;
}

.col1-3 {
    background-color: violet;
    width: 32%;
    margin-left: 3%;
    float: right;
}

.btn-default {
    font-size: .8em;
    border-radius: 5px;
    padding: 10px 30px;
    color:white;
    background-color: teal;
    border: 1px solid teal
}

.btn-small {
    font-size: .65em;
}

.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-full {
    display: block;
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 2em 0;
    text-align: left;
}

.table td {
    padding: .75em;
}

.table th {
    background-color: #ccc;
    padding: .75em;
}

.table tbody tr:nth-child(odd) td{
    background-color: #eee;
}

.table tbody tr:first-child td {
    border-top: 2px solid #666;
}

.table tbody tr:last-child td {
    border-bottom: 2px solid #666;
}

.table tr {
    border-bottom: 1px solid #ccc;
}

.table-alternate tbody td , .table-alternate tbody tr:last-child td
, .table-alternate tbody tr:first-child td{
    border: 1px solid #ddd;
}
